body{
    background-image: url(https://e0.pxfuel.com/wallpapers/756/610/desktop-wallpaper-anime-dragon-ball-z-background-dragon-ball-scenery.jpg);
    background-size: cover;
}

.titulo{
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
}

input{
    width: 600px;
    height: 30px;
}
.card {
    width: 250px;
    height: 254px;
    background: rgb(103, 225, 255);
    background-position: center;
    background-size: cover;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    font-size: 30px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    overflow: hidden;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.705);
    background: rgb(103, 151, 255);
    background-size: cover;
}

.first-content {
    height: 100%;
    width: 100%;
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    border-radius: 15px;
}

.card:hover .first-content {
    height: 0px;
    opacity: 0;
}

.second-content {
    height: 0%;
    width: 97%;
    opacity: 0;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    transition: all 0.4s;
    font-size: 0px;
    transform: rotate(90deg) scale(-1);
    padding-left: 12px;
    flex-grow: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.card:hover .second-content {
    opacity: 1;
    height: 100%;
    font-size: 1.8rem;
    transform: rotate(0deg);
}

.img{
    height: 280px
}


#container{
    margin: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

p{
    font-size: 15px;
}